<!-- base-layout.html -->
<div class="container max-w-7xl mx-auto px-4">
  <!-- Hero Placeholder -->
  <div id="hero-placeholder"></div>
  <!-- Sections -->
  <main id="main-content"></main>
  <!-- Footer -->
  <footer class="mt-8 text-center text-gray-500">
    <p class="mt-2 text-sm text-gray-600">&copy; Perfect Z Consulting : Patrick Mukuka Zgambo | <a href="https://www.linkedin.com/in/patrick-zgambo/" target="_blank" class="text-indigo-600 hover:text-indigo-800">LinkedIn</a></p>
  </footer>
</div> 